@(quotation: Quotation, status: SimpleStatus)( implicit request: RequestHeader)


<div class="wrap">
    <div class="container">
    </div>
</div>

<script type="text/javascript">

    var lastQuote = "";

    updateView("@quotation.quote", "@quotation.author.displayableName", "@status.user.imageUrl", "@status.user.name", "@status.user.screenName", "@status.createdAtStr", "@status.user.id")

    var ws = new WebSocket("@routes.Application.stream.webSocketURL()");

    ws.onmessage = function(event) {
        var data = JSON.parse(event.data)
        if(data != null && data.quote != lastQuote) {
            updateView(data.quote, data.author, data.status.user.imageUrl, data.status.user.name, data.status.user.screenName, data.status.createdAt, data.status.user.id);
        }
    };

    function updateView(quote, author, imageUrl, name, screenName, createdAt, userId) {

            var tweetUrl = "https://twitter.com/intent/user?user_id=" + userId;
            var intentUrl = "https://twitter.com/intent/tweet?text=" + encode("\"" + quote + "\"" + " " + author + " via http://twisdom.li")
            var displayableDate = new Date(createdAt).toLocaleString()
            $('.container').append("\
                <div class='row content-row'>\
                    <div class='col-sm-8 quotation-content'>\
                        <div class='quote'>" + quote + "</div>\
                        <div class='author'>" + author + "</div>\
                        <div><a href=" + intentUrl + "><i class='icon-retweet'></i></a></div>\
                    </div>\
                    <div class='col-sm-4 hidden-xs'>\
                        <div class='row'>\
                            <div class='col-sm-0 col-md-2 hidden-sm'>\
                                <div class='circular' style='background: url(" + imageUrl + ");'></div>\
                            </div>\
                            <div class='col-sm-12 col-md-10 user'>\
                                <span class='name'>" + name + "</span>\
                                <span class='screenName'>@@" + screenName+ "</span><br>\
                                <span class='date'>" + displayableDate + "</span><br>\
                                <a class='original-tweet' href="+tweetUrl+" target='_blank'>Check the original tweet</a>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            ");
            lastQuote = quote;
    }

    function encode(s) {
        return encodeURIComponent(s);
    }



</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>