html, body {
  font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
  background-color: rgb(246,245,241);
  height:100%;
}

.wrap {
  width:80%;
  height:100%;
  margin-left:15%;
  margin-right:5%;
  display:table;
}

.quotation-content {
  padding-right: 5px;
}

.quotation-content p {
  margin-bottom:10px;
}

.container {
   display: table-cell; 
   vertical-align: middle;
}


#quote {
  font-size: 300%;
  font-weight: 400;
}

#author {
	font-size: 150%;
}

.circular {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-repeat: no-repeat;
  }

.user {
  float: right;
  width: 80%;
  text-align:left;
}


#screenName {
  color: #a2a19f;
}

#original-tweet {
  color: #a2a19f;
  text-decoration: underline;
}