<div class="wrap">
    <div class="container">
        <div class="units-row">
            <div class="unit-70 quotation-content" >
                <p id="quote">{{quote}}</p>
                <p id="author">{{author}}</p>
            </div>
            <div class="unit-30 user-content">
                <div class="units-row">
                    <div class="unit-20">
                        <div id="profile" class="circular"></div>
                    </div>
                    <div class="unit-80 user">
                        <span id="name">{{name}}</span>
                        <span id="screenName">{{screenName}}</span>
                        <p><a id="original-tweet" href="{{original_tweet}}">View the original tweet</a></p>
                    </div>
                </div>
                <!--
                <div class="units-row">
                    <a href="share" id="tweet-something">Tweet a quotation</a>
                </div>
                -->
            </div>
        </div>
    </div>

</div>