@(content: Html)

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="A Twitter-sourced quotations tream">
    <meta name="keywords" content="quotes, Twitter, author, stream, crowd-sourcing, inspiration">
    <meta name="Author" CONTENT="Benoît Guigal">
    <title>Your daily dose of inspiration</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon_2.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/kube.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
    <link href='http://fonts.googleapis.com/css?family=Buenard:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@routes.Assets.at("css/fontello.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/animation.css")">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47110116-2', 'twisdom.li');
      ga('send', 'pageview');

    </script>

</head>
<body>
<header>
    <nav>
        <div class="button">
            <a href="#">
                <i class="btn-open icon-menu"></i>
                <i class="btn-close icon-cancel"></i>
            </a>
        </div>
    </nav>
</header>

<div class="overlay" style="display: none;">
    <div class="overlay-wrapper">
        <span class="info">
            A Twitter-sourced quotations stream built on top of the <a href="https://dev.twitter.com/docs/api/streaming">Twitter API</a> and the <a href="http://www.playframework.com/">Play Framework</a></br>
            Concept and code by <a href="http://benoitguigal.me">@@BGuigal</a></br>
            Fork this project on <a href="https://github.com/benoitguigal/twisdom">Github</a></br>
            Spread the wisdom<a href="https://twitter.com/intent/tweet?text=Looking for inspiration ? Discover the quotations that are buzzing right now: http://twisdom.li"><i class="icon-twitter-1"></i></a>
        <span>
    </div>
</div>
    @content
<script>
$(document).ready(function(){
     $('.btn-close').fadeOut(200);
     var open = false;
     $('.button a').on('click',function(){
        if(open == false){
             $('.overlay, .btn-close').fadeIn(200);
             $('nav ul li, .btn-open').fadeOut(200);
             $('body').css("overflow", "hidden")
             open = true;
         } else {
             $('.overlay, .btn-close').fadeOut(200)
             $('nav ul li, .btn-open').fadeIn(200);
             $('body').css("overflow", "auto")
             open = false;
        }
     });
 })
</script>
</body>
</html>