@(quotation: Quotation, status: SimpleStatus)( implicit request: RequestHeader)

<style type"text/css">
    #profile {
        background: url(@status.user.imageUrl);
    }
</style>
<div class="wrap">
    <div class="container">
        <div class="units-row">
            <div class="unit-70 quotation-content" >
                <p id="quote">@quotation.quote</p>
                <p id="author">@quotation.author.displayableName</p>
            </div>
            <div class="unit-30 user-content">
                <div class="units-row">
                    <div class="unit-20">
                        <div id="profile" class="circular" style=""></div>
                    </div>
                    <div class="unit-80 user">
                        <span id="name">@status.user.name</span>
                        <span id="screenName">@status.user.screenName</span>
                        <p><a id="original-tweet" href=@("https://twitter.com/intent/user?user_id="+status.user.id) target="_blank">View the original tweet</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var ws = new WebSocket("@routes.Application.stream.webSocketURL()");

    ws.onmessage = function(event) {
        var data = JSON.parse(event.data)
        updateView(data)
    };

    function updateView(data) {

        if(data != null) {
            $('#quote').text(data.quote);
            $('#author').text(data.author);
            $('#profile').css("background", "url(" + data.status.user.imageUrl + ")");
            $('#name').text(data.status.user.name);
            $('#screenName').text("@@" + data.status.user.screenName);
            $('#original-tweet').text("View the original tweet");
            $('#original-tweet').attr("href", "https://twitter.com/intent/user?user_id=" + data.status.user.id);
            $('#tweet-something').text("Tweet a quotation");
        }
    }

</script>